/* Background Color and Font */
body {
  background-color: #dbe3e6;
  font-family: "Open Sans", sans-serif;
}

div.main-content {
  margin-bottom: 4rem;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
}

/* Nav & Footer */
nav {
  background-color: #555b6e;
  font-family: "Ubuntu", sans-serif;
}

a.navbar-brand {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}

li.nav-item, a.nav-link {
  font-weight: 400;
  margin-top: 0;
  padding-top: 0;
  font-size: 22px;
  margin-right: 1rem;
  text-align: right;
}

a.nav-link {
  color: #bee3db;
}

a.nav-link:hover {
  color: #ffd6ba;
}

nav.footer {
  background-color: #89b0ae;
  height: 2.5rem;
}

/* Contact Me */
ul.contact-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  background-color: #89b0ae;
}

/* Headers */
h1,
h2 {
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  padding-top: 15px;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

/* About Me */
div.about-me-background {
  width: 100%;
  background-color: white;
  padding-top: 4rem;
  padding-bottom: 5rem;
}

/* Bio width and spacing */
.headshot-image {
  text-align: center;
}

p.bio {
  font-family: "Open Sans", sans-serif;
  max-width: 35rem;
}

/* Portfolio */
div.portfolio {
  max-width: fit-content;
}

div.media-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.portfolio-item {
  margin: 0;
  align-items: center;
}

h2.title {
  text-align: left;
  margin-top: 0.5rem;
}

div.card {
  margin: 1rem auto;
  position: relative;
  max-width: 20rem;
}

div.card-header {
  font-family: "Ubuntu", sans-serif;
  color: white;
  text-align: center;
  background-color: #89b0ae;
  font-weight: 500;
  font-size: 22px;
}

div.btnsRow {
  justify-content: center;
}

div.card-header:hover,
a.site,
a.gitrepo {
  background-color: #ffd6ba;
  color: black;
  font-weight: 400;
}

a.site,
a.gitrepo {
  margin-right: 10px;
  margin-left: 10px;
  width: 5rem;
}

a.site:hover,
a.gitrepo:hover {
  background-color: #89b0ae;
  color: white;
}

div.password {
  margin-bottom: 3rem;
}

@media (max-width: 600px) {
  .navbar,
  ul.contact-list {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0rem;
    padding: 0rem;
  }
  .headshot-image {
    padding-top: 0rem;
  }
  h2.title {
    text-align: center;
  }
  #container {
    width: fit-content;
  }
  #contact {
    justify-content: start;
  }
}
