body {
    background-color: #dbe3e6;
    padding-bottom: 3.5rem;
}

/* Resume */

.resume-pdf {
    padding-top: 6rem;
    padding-bottom: 2rem;
}

div.resume {
    display: flex;
    justify-content: center;
}

a.resume {
    color: white;
    text-transform: underline;
}

@media screen and (max-width: 800px) {
    /* sizing for nav */
    h2.logo {
        font-size: 6vw;
    }
    li.nav-item, a.nav-link {
        font-size: 4vw;
        align-content: left;
    }
    embed.resume-pdf {
        max-height: 800px;
    }
}