/* Background Color and Font */

body {
    background-color: #dbe3e6;
    font-family: "Open Sans", sans-serif;
}

/* Adding padding for sticky footer on main page */
body.main {
    padding-bottom: 3.5rem;
}

/* Nav & Footer */

nav.nav {
    background-color: #3E424D;
    font-family: "Ubuntu", sans-serif;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px 0px;
}

h2.logo {
    color: white;
}

img.logo-header {
    max-width: 200px;
}

div.navLinks {
    justify-content: flex-end;
}

li.nav-item, a.nav-link {
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
    font-size: 20px;
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: right;
}

a.nav-link, a.dropdown-item {
    color: #bee3db;
}

a.nav-link:hover {
    color: white;
}

a.dropdown-item:hover, a.footer-item:hover {
    background-color: #BBCB9F;
    color: #3E424D;
}

div.dropdown-menu {
    background-color: #3E424D;
    color: whitesmoke;
    width: 30px;
}

nav.footer {
    background-color: #3E424D;
    max-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a.footer-item {
    border-radius: 8px;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    /* padding-left: 10px;
    padding-right: 10px; */
    color: #BBCB9F;
    font-size: 20px
}

/* Contact Me */

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
    color: white;
    font-size: 4rem;
}

/* Intro Section */

div.intro-background {
    background-color: #9FC5CE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    min-width: 100vw;
}

div.intro {
    order: 2;
    max-width: 550px;
}

div.headshot-image {
    order: 1;
    max-width: 550px;
    justify-content: end;
}

img.headshot-round {
    width: 30rem;
}

h1 {
    color: #474C5C;
    font-family: "Marck Script", cursive;
    font-weight: 500;
    font-size: 4rem;
}

h2, span.typewrite {
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    color: #474C5C;
}

span.typewrite {
    text-decoration: underline;
    text-decoration-color: #BBCB9F;
}

h3 {
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 3rem;
    color: #474C5C;
    font-size: 18px;
}

/* typwriter Descriptor */

.typewriter h3 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

/* About Me */

main.about-me {
    width: 100vw;
    background-color: #faf9f9;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* Contact */

#contact {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #9FC5CE;

}

div.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

a.contact-item {
    align-items: flex-start;
    list-style-type: none;
    color: #3E424D;
    font-size: large;
    padding: .5rem;
}

i.fas, i.fab {
    margin: 5px;
    font-size: larger;
}

i.fa-bars {
    padding: 0;
}

/* Bio width and spacing */

p.bio {
    font-family: "Open Sans", sans-serif;
    max-width: 35rem;
}

/* Portfolio Section on index page */

div.port-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.port-card {
    position: relative;
    width: 22vw;
    margin: 1rem;
}

.port-img {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #A6B58A;
}

.port-card:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Portfolio Section */

#portfolio {
    margin-bottom: 1.5rem;
}

h2.portfolio-title {
    margin-top: 1.5rem;
}

article.portfolio-item {
    padding-top: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

div.header {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    line-height: 3rem;
}

/* buttons in articles */

div.btnsRow {
    justify-content: center;
}

a.site, a.gitrepo {
    background-color: #A6B58A;
    color: black;
}

a.site, a.gitrepo {
    margin-right: 10px;
    margin-left: 10px;
    width: 5rem;
}

a.site:hover, a.gitrepo:hover {
    background-color: #474C5C;
    color: whitesmoke;
    font-weight: 400;
}

/* testimonials */

#testimonials {
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #9FC5CE;

}

p.feedback {
    font-size: medium;
    font-weight: 600;
    font-style: italic;
}


@media screen and (max-width: 800px) {
    /* sizing for nav */
    h2.logo {
        font-size: 6vw;
    }
    li.nav-item, a.nav-link {
        font-size: 4vw;
        align-content: left;
    }
    /* intro */
    div.intro-background {
        flex-direction: column;
    }
    div.headshot-image {
        margin-top: 3rem;
    }
    /* responsive sizing for headers */
    /* Meet Aiden header */
    h1.intro-title {
        font-size: 10vw;
        text-align: center;
        margin-top: 0;
    }
    /* All headers */
    h2.about-title, h2.portfolio-title {
        font-size: 8vw;
        text-align: center;
    }
    /* Intro Typing  */
    h2.typing {
        font-size: 6vw;
        margin-top: 1rem;
        margin-bottom: 3.5rem;
        text-align: center;
    }
    .port-card {
        width: 90vw;
    }
    /* Card Headers */
    div.card-header {
        font-size: 6vw;
    }
    /* Bio Title Spacing */
    h2.about-title {
        padding-bottom: 1rem;
    }
    #container {
        width: fit-content;
    }
    a.contact-item {
        font-size: medium;
    }
}