/* Background Color and Font */

body {
    background-color: #dbe3e6;
    font-family: "Open Sans", sans-serif;
}

/* Nav & Footer */

nav.nav {
    background-color: #474C5C;
    font-family: "Ubuntu", sans-serif;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px 0px;
}

h2.logo {
    color: white;
}

div.navLinks {
    justify-content: flex-end;
}

li.nav-item, a.nav-link {
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
    font-size: 20px;
    margin-right: 1rem;
    text-align: right;
}

a.nav-link {
    color: #bee3db;
}

a.nav-link:hover {
    color: #ffd6ba;
}

div.dropdown-menu {
    background-color: #89b0ae;
}

a.dropdown-item:hover {
    background-color: #ffd6ba;
}

nav.footer {
    background-color: #89b0ae;
    height: 2.5rem;
}

/* Contact Me */

ul.contact-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
    color: white;
    font-size: 4rem;
}

/* Intro Section */

div.intro-background {
    background-color: #bee3db;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
    min-width: 100vw;
}

div.intro {
    order: 2;
    max-width: 550px;
    padding-top: 5rem;
}

div.headshot-image {
    order: 1;
    max-width: 550px;
    justify-content: end;
}

img.headshot-round {
    width: 30rem;
    padding-top: 5rem;
}

h1 {
    color: #474C5C;
    font-family: "Marck Script", cursive;
    font-weight: 500;
    font-size: 4rem;
}

h2, a.typewrite {
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    color: #474C5C;
}

a.typewrite {
    text-decoration: underline;
    text-decoration-color: #ffd6ba;
}

h3 {
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 3rem;
    color: #474C5C;
    font-size: 18px;
}

/* typwriter Descriptor */

.typewriter h3 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

/* About Me */

div.about-me-background {
    width: 100%;
    background-color: #faf9f9;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

/* Bio width and spacing */

p.bio {
    font-family: "Open Sans", sans-serif;
    max-width: 35rem;
}

/* Portfolio */

#portfolio {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

div.portfolio {
    max-width: fit-content;
}

div.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.card {
    margin: 1rem auto;
    position: relative;
    min-width: 19rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
}

div.card-header {
    font-family: "Ubuntu", sans-serif;
    color: white;
    text-align: center;
    background-color: #89b0ae;
    font-weight: 500;
    font-size: 22px;
}

div.btnsRow {
    justify-content: center;
}

a.site, a.gitrepo {
    background-color: #ffd6ba;
    color: black;
    font-weight: 400;
}

a.site, a.gitrepo {
    margin-right: 10px;
    margin-left: 10px;
    width: 5rem;
}

a.site:hover, a.gitrepo:hover {
    background-color: #89b0ae;
    color: white;
}

div.password {
    margin-bottom: 3rem;
}

/* Resume */

body.resume {
    background-color: #bee3db;
}

.resume-pdf {
    padding-top: 6rem;
    width: 800px;
    height: 2100px;
    padding-bottom: 2rem;
}

div.resume {
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {
    /* sizing for nav */
    li.nav-item, a.nav-link {
        font-size: 20px;
    }
    /* intro */
    div.intro-background {
        flex-direction: column;
    }
    div.headshot-image {
        margin-top: 3rem;
    }
    /* responsive sizing for headers */
    /* Meet Aiden header */
    h1 {
        font-size: 10vw;
        text-align: center;
    }
    /* All headers */
    h2 {
        font-size: 8vw;
        text-align: center;
    }
    /* Intro Typing  */
    h2.typing {
        font-size: 6vw;
        margin-top: 1rem;
        margin-bottom: 3.5rem;
    }
    /* Card Headers */
    div.card-header {
        font-size: 6vw;
    }
    /* Bio Title Spacing */
    h2.about-title {
        padding-bottom: 1rem;
    }
    #container {
        width: fit-content;
    }
    /* resume */
    .resume-pdf {
        height: 800px;
    }
}